<div>
  <div id="p-wrapper">
    <ul id="piano">
      <li *ngFor="let pianoKey of pianoKeys">
        <div class="anchor" [ngClass]="pianoKey.status ? 'clicked' : 'notClicked'"
             [style.background]="getColor(pianoKey.whiteKeyId)"
             (click)="keyPress(pianoKey.whiteKeyId, pianoKey); saveKeyInArray(pianoKey.whiteKeyId); changeStatus(pianoKey)">
        </div>
        <span *ngIf="pianoKey.blackKeyId" [style.background]="getColor(pianoKey.blackKeyId)"
              (click)="keyPress(pianoKey.blackKeyId, pianoKey)"></span>
      </li>
    </ul>
  </div>
  <br>
  <br>
  <div style="background-color: white; padding: 24px;">
    <div>
      <span class="key" *ngFor="let key of keyArray" ><b>{{ key.name }}</b></span>
    </div>
    <div *ngIf="editMode">
      <br>
      <span *ngFor="let key of keyArray; let i = index">
        <select style="margin-right: 10px;" [(ngModel)]="key"
                (change)="onChangeKey($event.target.value, i, currentKey)">
          <option *ngFor="let myKey of keyNameArray">{{myKey.name}}</option>
        </select>
      </span>
    </div>
    <br>
    <br>
    <br>
    <span class="someSpace">Start key: {{selectedStartKey.name}}</span>
    <span class="someSpace" style="vertical-align: text-top;">
    <select style="margin-right: 8px; margin-left: -8px;" [(ngModel)]="selectedStartKey">
      <option *ngFor="let key of keyNameArray" [ngValue]="key">{{key.name}}</option>
    </select>

    </span>
    <span class="someSpace">Nb of keys:</span>
    <input type="number" style="margin-right: 16px;" [(ngModel)]="selectedNbOfKeys" name="selectedBpm" step="1" min="1"
           max="15">
    <span class="someSpace">BPM:</span>
    <input type="number" style="margin-right: 16px;" [(ngModel)]="selectedBpm" name="selectedBpm" step="1" min="0"
           max="300">

    <!--    <span class="someSpace"><button>Replay</button></span>-->
    <span class="someSpace" (click)="replayMelody(selectedBpm, selectedNbOfKeys); editMode = false;"><button>Replay</button></span>
    <span class="someSpace" (click)="editMode = !editMode"><button>Edit keys</button></span>
    <span class="someSpace" (click)="playRandomKeys(selectedBpm, selectedNbOfKeys); editMode = false;"><button>Regenerate</button></span>
    <span class="someSpace" (click)="clearKeyArray(); editMode = false;"><button>Clear</button></span>
    <!--    <span class="someSpace"><button>Save .mid</button></span>-->
  </div>
</div>
